# fly.toml app configuration file generated for server-purple-hill-4867 on 2024-08-26T15:41:39+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "server-purple-hill-4867"
primary_region = "lhr"

[build]
  dockerfile = "server/Dockerfile"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1